<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
  


<bean id="c" class="com.masai.Problem4.Circle"/>
<bean id="c1" class="com.masai.Problem4.Cylinder"/>
<bean id="t" class="com.masai.Problem4.Triangle"/>
<bean id="r" class="com.masai.Problem4.Runner">
	
	<property name="s" ref="t"/>
	
</bean>
</beans>